apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline
  namespace: logging
data:
  logstash.conf: |
    input {
      beats {
        port => 8080
        codec => json
      }
    }

    output {
      elasticsearch {
        hosts => ["http://elasticsearch-es-http.logging.svc:9200"]
        user => "${ES_USER}"
        password => "${ES_PASSWORD}"
        index => "demo-%{+YYYY.MM.dd}"
      }
    }