apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency-deployment
  namespace: currency
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currency-deployment
  template:
    metadata:
      labels:
        app: currency-deployment
    spec:
      containers:
        - name: currency-deployment
          image: xhuniktzi/currency-svc:v4
          imagePullPolicy: Always

          readinessProbe:
            httpGet:
              path: /health/ready
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /health/live
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
            successThreshold: 1
          env:
            - name: PORT
              value: "80"
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "250m"
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: currency-service
  namespace: currency
spec:
  type: ClusterIP
  selector:
    app: currency-deployment
  ports:
    - protocol: TCP
      name: http
      port: 80
      targetPort: 80
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: currency-hpa
  namespace: currency
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: currency-deployment
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: currency-ingress
  namespace: currency
spec:
  ingressClassName: "nginx"
  rules:
  - http:
      paths:
      - pathType: Prefix
        path: "/auth"
        backend:
          service:
            name: currency-service
            port: 
              number: 80
      - pathType: Prefix
        path: "/system"
        backend:
          service:
            name: currency-service
            port: 
              number: 80
      - pathType: Prefix
        path: "/currency"
        backend:
          service:
            name: currency-service
            port: 
              number: 80