apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency-deployment
  namespace: currency
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currency-deployment
  template:
    metadata:
      labels:
        app: currency-deployment
    spec:
      containers:
        - name: currency-deployment
          image: xhuniktzi/currency-svc:latest
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "80"
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "250m"
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: currency-deployment
  namespace: currency
spec:
  type: LoadBalancer
  selector:
    app: currency-deployment
  ports:
    - protocol: TCP
      name: http
      port: 80
      targetPort: 80
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: currency-deployment
  namespace: currency
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: currency-deployment
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
